{% extends "base.html" %}
{% block content %}
  

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">داستان ما را بشنوید!</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                    هوشمندانه برای شما و خوش آمدید به دیجیکالا، یک فروشگاه آنلاین جهانی با محصولاتی مثل لپ تاپ، موبایل، هدفون، هندذفری، مودم، ساعت هوشمند، کوله پشتی، فضای ذخیره سازی و دوربین عکاسی. ما برند‌های معروف را انتخاب می‌کنیم و محصولاتمان را با بهترین کیفیت و قیمت مناسب به مشتری‌ها ارائه می‌دهیم.


                    ما بر این باوریم که ارائه به موقع و خوب محصولات به مشتری‌ها اهمیت دارد. بنابراین، ما سعی می‌کنیم محصولاتمان را به‌موقع به دست مشتری‌ها برسانیم.
                    همچنین، ما بر این باوریم که اعتماد مشتریان برای ما اهمیت دارد. بنابراین، ما سعی می‌کنیم فرآیند خرید از سایت ما را امن و قابل اعتماد کنیم.
                    ما در تهران مستقر هستیم و سابقه خوبی در ارائه محصولات قوی و خدمات بالا داریم. ما می‌خواهیم به مشتریان خود قول بدهیم که پس از خرید از ما، رضایت کامل خواهید داشت.
                    ما به این باوریم که قیمت مناسب و تخفیفات مختلف برای مشتری‌ها اهمیت دارد. بنابراین، ما سعی می‌کنیم محولاتمان را با قیمت مناسب و تخفیفات مختلف به مشتری‌ها ارائه دهیم.
                    ما می‌خواهیم بتوانیم از رقبا متمایز باشیم. بنابراین، ما سعی می‌کنیم بالاترین کیفیت محصولات و خدمات را ارائه دهیم.
                    ما امیدواریم که شما هم مثل دیگر مشتریان ما رضایت داشته باشید. بر اساس این عقیده، ما سعی می‌کنیم به هر چه بهتر خدمت رسانی کنیم.
                    ما همچنین سعی می‌کنیم نوآوری در محصولاتمان داشته باشیم تا مشتریانمان همیشه با آخرین تکنولوژی‌ها در تماس باشند.
                    ما شایسته هستیم که از شما انتخاب کنید و خریداری از ما داشته باشید. بنابراین، ما سعی می‌کنیم بهترین خدمات را برای شما ارائه دهیم.
                    ما بازگشت پول را برای شما تضمین می‌کنیم. اگر ناراضی باشید، پولتان را بازگردانده می‌کنیم.
                    ما سعی می‌کنیم ارتباط نزدیک با مشتریانمان داشته باشیم تا ببینیم چه نیازهایی دارند و چگونه میتوانيم به آنها کمک کنیم.
                    ما همچنین سعی می‌کنیم امنیت سایتمان را تضمین کنیم تا خریدارانمان احساس امنیت کنند.
                    ما امیدواریم که شما هم مثل دیگر مشتریان ما دوباره به ما بازگردند.
                </p>

            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}